<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/Bardex/Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/Bardex/Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ELASTIC_HOST" value="localhost:9200"/>
        <env name="ELASTIC_TEST_INDEX" value="bardex_elastic_query_test"/>
    </php>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>